<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="green-bar"></div>
            <!-- ACTIVE SECTION -->
            <div class="container-small">
                <!-- SIDELIST -->
                <div class="side-list">
                    <!-- HEADER SIDELIST -->
                    <div class="my-profile">
                        <div class="user-info">
                            <img src="img/avatar_io.jpg" alt="profile image">
                            <h3>Sofia</h3>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- NOTIFICATION AREA -->
                    <div class="alert-notifications">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div>
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- SEARCH -->
                    <div class="search-bar">
                        <label  for="search-input"><i class="fa-solid fa-magnifying-glass"></i></label>
                        <input v-model="filter" @keyup="filterContact"   id="search-input" class="filter" type="text" placeholder= "Cerca o inizia una nuova chat">
                    </div>
                    <!-- USER LIST -->
                    <div class="chat-list">
                        <div v-for="(user, index) in contacts" v-show="user.visible" class="user-chat"  @click="currentUser(index)">
                            <img :src="`img/avatar${user.avatar}.jpg`" alt="profile image">
                            <div class="chat-info">
                                <div class="name">
                                    <h4>{{user.name}}</h4>
                                </div>
                                <span class="last-access">
                                    {{user.messages[user.messages.length - 1].date}}
                                 </span>
                                <div class="mex">
                                 <span>
                                     {{user.messages[user.messages.length - 1].message}}
                                </span>
                                
                                <button @click="deleteChat(index)" class="chat-btn">Delete Chat</button>
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
                 <!-- CHAT SIDE -->
                 <div class="chat-side">
                     <!-- CHAT HEADER -->
                     <div class="header-chat-profile">
                        <div class="user-chat-info">
                            <img :src="`img/avatar${contacts[activeContact].avatar}.jpg`" alt="profile image">
                            <h3>{{contacts[activeContact].name}}</h3>
                            <span>Ultimo accesso: {{contacts[activeContact].messages[contacts[activeContact].messages.length-1].date}}</span>
                        </div>
                        <div class="icon-menu-chat">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                     </div>
                     <!-- CHAT  -->
                     <div class="chat">
                        <div v-for="(messaggio, index) in contacts[activeContact].messages">
                            <div :class="messaggio.status === `sent` ? `message-send`:`message-recive`">
                                <div :class="messaggio.status === `sent` ? `send`:`recive`">
                                    <div class="dropdown-menu">
                                        <ul v-if="messaggio.isNone===true">
                                            <li>Info</li>
                                            <li @click="deleteMex(index)">Elimina messaggio</li>
                                        </ul>
                                    </div>
                                    <h5>{{messaggio.message}}</h5>
                                    <span>{{messaggio.date}}</span>
                                    <p @click="dropDown(messaggio, index)"  class="arrow"><i class="fa-solid fa-angle-down"></i></p>
                                </div>
                            </div>
                        </div>
                     </div>
                     <!-- FOOTER CHAT -->
                     <div class="footer-chat">
                        <i class="fa-regular fa-face-smile"></i>
                        <input v-model.trim="mex" @keyup.enter="addMex" class="write-here" type="text" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                     </div>
                </div>
            </div>
        </div>
    </div>        
    <script src="js/script.js"></script>
</body>
</html>